/* Global Styles
------------------------- */

/*
Main Color Lime Green: #CFEC3A
After Header Color : #98af21
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'IBM Plex Sans', sans-serif !important;
    background-color: #fff;
    color: #000;
    font-weight: 30;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* Main Navigation
------------------------- */
#mainNav {
    background-color: rgba(0, 0, 0, 1) !important;
}

.navbar-brand {
    font-size: 22px;
    color: #fff;
    transition: color 0.5s;
}

.navbar-brand:hover {
    color: #CFEC3A;
}

.nav-link {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.5s;
}

.nav-link:hover {
    color: #CFEC3A;
}


/* Reusable Styles
------------------------- */


section { 
    padding: 80px 0;
}


.sub-text {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-right: 5%;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
}

/* Centers Button */
.btn-center {
    width: 100%;
    text-align: center;
}

.section-btn {
    margin-top: 0.5em;
    font-size: 70%;
    text-transform: uppercase;
    border: 2px #fff solid;
    border-color: #000;
    display: inline-block;
    color: #000;
    width: auto;
    height: auto;
    padding: 1em 3em;
    font-weight: 100;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.section-btn:hover {
    text-decoration: none;
    border-color: #CFEC3A;
    background-color: #000;
    color: #CFEC3A;
}


/* Headings
------------------------- */

h1, h2 {
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    text-align: center;
}

h2 {
    font-size: 250%;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}


section h2:after {
    display: block;
    height: 2px;
    background-color: #98af21;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}


section h3:after {
    display: block;
    height: 2px;
    background-color: #98af21;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0.5em;
}


/* Front Page Section
------------------------- */

header {
    background-image: url(../img/everstream.jpeg), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}

.text-box h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 500%;

    letter-spacing: 10px;
    color: #fff;
}

.text-box h2 {
    font-size: 160%;
    font-weight: 100;
    text-align: center;
    color: #CFEC3A;
    word-spacing: 5px;
    margin-top: 0.5em;
}



.front-btn {
    margin-top: 5em;
    font-size: 80%;
    text-transform: uppercase;
    border: 1px #fff solid;
    border-radius: 200px;
    display: inline-block;
    color: #fff;
    width: auto;
    height: auto;
    padding: 1em 3em;
    font-weight: 100;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.front-btn:hover {
    text-decoration: none;
    background-color: #000;
    border-color: #CFEC3A;
    color: #CFEC3A;
}


/* Work Section
------------------------- */

.work-section p, h3{
    text-align: center;
    font-size: 130%;
    font-weight: 100;
}

.work-section p {
    font-size: 90%;
    margin-top: 1em;

}

.work-row {
    margin-top: 3em;
}

.work-section img {
    transition: transform 0.3s, opacity 0.4s;
}

.work-section img:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.03);
}


.work-section .section-btn {
    margin-top: 2em;
}


.icons {
    text-align: center;
    color: #D62C3B;
    font-size: 300%;
    margin-bottom: 0.5em;
}


/* About Section
------------------------- */


.about-section {
    background-image: url(../img/coral-highlands.jpeg), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}


.about-section h2:after {
    display: block;
    height: 2px;
    background-color: #CFEC3A;
    content: " ";
    width: 350px;
    margin-top: 15px;
}

.about-section .sub-text {
    margin-top: 1em;
    margin-bottom: 3em;
}

.about-btn .section-btn {
    margin-top: 2.4em;
    margin-right: 1em;
    text-transform: uppercase;
    border: 1px #fff solid;
    border-radius: 200px;
    display: inline-block;
    color: #fff;
    width: auto;
    height: auto;
    padding: 1em 3em;
    font-weight: 100;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.about-btn .section-btn:hover {
    text-decoration: none;
    background-color: #000;
    border-color: #CFEC3A;
    color: #CFEC3A;
}


img {
    width: 100%;
}


/* Skills Section
------------------------- */

.skills-section h2:after {
    display: block;
    height: 2px;
    background-color: #98af21;
    content: " ";
    width: 200px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.skills-section h3 {
    margin-top: 3em;
    margin-bottom: 1em;
    font-weight: 100;

}


i {
    font-size: 700%;
    display: inline-block;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 5px 10px #aaa;
}

#photoshop { color: #3bb3e2; }
#illustrator { color: #FC7D30; }
#indesign { color: #FC4494; }
#lightroom { color: #3ec4c3; }


/* Contact Section
------------------------- */

.contact-section {
    background-image: url(../img/wildspire-waste.jpeg), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.contact-section .sub-text {
    margin-top: 1em;
    margin-bottom: 3em;
}


.contact-form {
    width: 70%;
    margin: 0 auto;
}

.contact-form .row {
    margin-bottom: 1em;
}

input, textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;

}
textarea { height: 100px; }

.submit-msg {
    width: 15%;
    transition: transform 0.3s;
}

.submit-msg:hover {
    cursor: pointer;
    transform: scale(1.05);
}


/* Footer
------------------------- */

footer {
    background-color: #000;
    padding: 20px;
    font-size: 80%;
}

footer h2 {
    font-size: 200%;
    color: #fff;
    font-weight: 350;
    text-transform: none;
}

.social-links {
    margin: 0 auto;
}

.social-links li {
    display: inline-block;
    list-style: none;
}

#github,
#linked-in,
#e-mail,
#instagram {
    padding: 5px;
    color: white;
    font-size: 250%;
    transition: color 0.3s;
}

#github:hover { color: #572B77; }
#linked-in:hover { color: #007bb6; }
#e-mail:hover { color: #dd4b39; }
#instagram:hover { color: #DA1E3F; }


footer p {
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

footer a {
    color: #CFEC3A;
    transition: color 0.5s;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

