// COLORS
$primary-color-light: #f5eee6;
$primary-color: #ECDDCE;
$primary-color-dark: #e3ccb6;

// BASIC COLORS
$color-white: #fff;
$color-black: #000;
$color-black-light: #363636;
$color-grey: #555;