// COLORS
$primary-color-light: #bb65d4;
$primary-color: #69237e;
$primary-color-dark: #481856;

// TEXT COLOR
$primary-color-text: #e4c3ee; 

// BASIC COLORS
$color-white: #fff;
$color-black: #000;
$color-grey: #555;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;