// About 
.about {
   color: #fff;
   margin: 0 auto;
   max-width: 50rem;

   @include respond(tablet-portrait) {
      max-width: 100% !important; 
      padding: 0 6rem;
   }


   &__text p {
      color: #fff;
      font-size: 1.6rem;
      line-height: 1.8;

      &:not(:last-child) {
         padding-bottom: 2rem;
      }
   }
}