// About 
.about {
    margin-top: -14rem;

    // About Img
    &__img {
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        border: 1rem solid $color-white;
        display: block;
        margin: 0 auto;
        width: 18%;
        border-radius: 50rem;
        transition: all .3s;
        // &::before {
        //     padding-top: 30rem;
        // }

        @include respond(tablet-portrait) {
            width: 25%;
        }

        @include respond(phone) {
            width: 50%;
        }
    }

    // About Text
    &__text {
        font-size: 1.6rem;

        &:not(:last-child) {
            padding-bottom: 2rem;
        }
    }

    &__btn {
        display: inline;
        padding-right: 2rem;
    }

    // About Devicon Icons
    &__devicon {
        font-size: 9rem;

        @include respond(tablet-portrait) {
            font-size: 10rem;
        }

        @include respond(phone) {
            font-size: 9.4rem;
        }

        @include respond(smaller-phone) {
            font-size: 7.5rem;
        }

        @include respond(older-phone) {
            font-size: 6rem;
        }
        // padding: 2rem;
        // text-shadow: 0px 5px 10px #aaa;
    }
}