.footer {
   background-color: $color-black-light;
   color: $color-white;
   padding: 3rem;
   text-align: center;
   grid-column: full-start / full-end;

   &__text {
      font-size: 1.4rem;

      &-link {
         color: $primary-color-dark;
         text-decoration: none;
         transition: all .2s;

         &:hover {
            color: $primary-color-light;
         }
      }
   }
}