.header {
   grid-column: full-start / full-end;
   background-image: linear-gradient(
      to bottom,
      rgba($color-black, .8),
      rgba($color-black, .8)),
   url(../img/header.jpg);
   background-attachment: fixed;
   background-size: cover;

   display: grid;
   align-items: center;
   grid-template-columns: full-start / full-end;

   @include respond(tablet-portrait) {
      background-attachment: scroll;
      background-position: right;
   }

   &__text-box {
      color: #fff;
      text-align: center;
   }

   &__btn {
      margin-top: 3rem;
      @include respond(phone) {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         margin: 3rem auto auto auto;

         width: 25rem;
      }
   }

   &__btn .btn {

      &:not(:last-child) {
         margin-right: 3rem;
         @include respond(phone) {
            margin-bottom: 2rem;
            &:not(:last-child) {
               margin-right: 0;
            }
         }
      }
   }

   &__social {
      display: inline-block;
   }

   &__link {
      color: $primary-color;
      display: inline-block;
      font-size: 3rem;
      line-height: 60px;
      text-decoration: none;
      transition: all .2s;

      &:not(:last-child) {
         margin-top: 2.5rem;
         margin-right: 4rem;
      }

      &:hover {
         color: $primary-color-light;
         transform: translateY(-.2rem);
      }
      
      &--1,
      &--2,
      &--3 {
         animation-name: moveInUp;
         animation-timing-function: ease-in-out;
      }

      &--1 { animation-duration: .4s; }
      &--2 { animation-duration: .6s; }
      &--3 { animation-duration: .8s; }
   }
}