/* Global Styles
------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'IBM Plex Sans', sans-serif !important;
    background-color: #fdfdfd;
    color: #000;
    font-weight: 30;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.container{
    margin-top: 5em;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 50px #d3d3d3;
    transition: box-shadow 0.3s;
}

.container:hover {
    box-shadow: 0 2px 50px #838383;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}


/* Main Navigation
------------------------- */
#mainNav {
    background-color: rgba(0, 0, 0, 1) !important;
}

.navbar-brand {
    font-size: 22px;
    color: #fff;
    transition: color 0.5s;
}

.navbar-brand:hover {
    color: #CFEC3A;
}

.nav-link {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.5s;
}

.nav-link:hover {
    color: #CFEC3A;
}

/* SECTION STYLES */

section { 
    padding: 20px 0;
}

section h2 {
    margin-bottom: 1em;
}

section h3 {
    margin-bottom: 1em;
}

section p {
    font-size: 80%;
}

.header { 
    padding-top: 70px;
    padding-bottom: 50px;
}

/* Reused Styles
------------------------- */
h2 {
    text-transform: uppercase;
    font-size: 150%;
    font-family: 'Barlow Semi Condensed', sans-serif !important;
}

section h2:after {
    display: block;
    height: 2px;
    background-color: #98af21;
    content: " ";
    width: auto;

    margin-top: 10px;
    margin-bottom: 50px;
}


h3 {
    font-size: 125%;
}


/* Resume Header
------------------------- */
.header h1 {
    text-align: center;
    font-size: 250%;
}


.header h1:after {
    display: block;
    height: 2px;
    background-color: #98af21;
    content: " ";
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
}

.header row {
    margin: 0 auto;
}

.contact-info {
    margin: 0 auto;
}

.contact-info li  {
    text-align: center;
    font-size: 80%;
    display: inline;
    margin: 10px;
}

.contact-info a {
    color: #000;
    transition: color 0.3s;
}

.contact-info a:hover {
    text-decoration: none;
    color: #ff0000;
}

.text-right {
    font-style: italic;
    font-weight: 100;
    font-size: 100%;
}

/* Centers Button */
.btn-center {
    width: 100%;
    text-align: center;
}

.front-btn {
    font-size: 60%;
    text-transform: uppercase;
    border: 1px #000 solid;
    border-radius: 200px;
    box-shadow: 0 2px 10px #838383;
    display: inline-block;
    color: #000;
    width: auto;
    height: auto;
    padding: 1em 3em;
    font-weight: 100;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.front-btn:hover {
    text-decoration: none;
    background-color: #000;
    border-color: #CFEC3A;
    color: #CFEC3A;
}


/* Back to Top Button
------------------------- */
.back-top {
    text-align: center;
    font-size: 125%;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Footer
------------------------- */

footer {
    background-color: #000;
    padding: 20px;
    font-size: 80%;
}

footer h2 {
    font-size: 200%;
    text-align: center;
    color: #fff;
    font-weight: 100;
    text-transform: none;
}

.social-links {
    margin: 0 auto;
}

.social-links li {
    display: inline-block;
    list-style: none;
}

#github,
#linked-in,
#e-mail,
#instagram {
    padding: 5px;
    color: white;
    font-size: 250%;
    transition: color 0.3s;
}

#github:hover { color: #572B77; }
#linked-in:hover { color: #007bb6; }
#e-mail:hover { color: #dd4b39; }
#instagram:hover { color: #DA1E3F; }


footer p {
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

footer a {
    color: #CFEC3A;
    transition: color 0.5s;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}
