// BUTTON STYLES
.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
    }

    &--main {
        font-size: 1.7rem;
        margin-top: 3rem;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
        color: $color-white;
        border: none;
        border-bottom: 1px solid $primary-color-light;
        transition: all .3s;

        &:hover {
            background-color: $primary-color-light;
            border-radius: 5rem;
            padding: 1.3rem 2rem;
        }
    }

    &--purple {
        font-size: 1.5rem;
        padding: 1rem 2rem;
        color: $color-white;
        // background-color: $primary-color;
        background-image: linear-gradient(
            to bottom right,
        rgba($primary-color-light, 0.8),
        rgba($primary-color-dark, 1));

        border-radius: 5rem;
        transition: all .3s;

        &:hover {
            background-color: $primary-color-dark;
        }
    }
    &--purple-dark {
        font-size: 1.7rem;
        color: $primary-color;
        border: none;
        transition: all .3s;

        &::after {
            display: block;
            margin: 0 auto;
            margin-top: .8rem;
            height: 1.3px;
            background-color: $primary-color-light;
            content: " ";
            width: 10rem;
            transition: all .3s;
        }

        &:hover {
            &::after {
                display: block;
                margin: 0 auto;
                margin-top: .8rem;
                height: 1.3px;
                background-color: $primary-color-light;
                content: " ";
                width: 18rem;
            }
        }
    }
}