.contact-box {
    @include addFixedWidth;
    @include addContainer(#fff);

    &__text {
        font-size: 1.8rem;
        font-weight: 900;

        &:not(:last-child) {
            padding-bottom: 1rem;
        }

        @include respond(tablet-portrait) {
            text-align: left;
            padding: 0 4rem;
        }
    }

    &__social {
        display: inline-block;
        margin-top: 2rem;
        text-shadow: 0px 1px 3px rgb(0, 0, 0);
    }

    &__link {
        color: #fff;
        background: $primary-color;
        border-radius: 50%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
        display: inline-block;
        font-size: 4rem;
        line-height: 80px;
        text-decoration: none;
        transition: all .3s;
        width: 80px;
        height: 80px;

        &:not(:last-child) {
            margin-right: 2.5rem;
        }

        &:hover {
            text-shadow: 0px 4px 6px rgb(0, 0, 0);
            transform: translateY(-.3rem);
        }
    }
}