.expertises {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 6rem;
   align-items: center;
}

.expertise {
   background-color: rgba($color-white, .8);
   border-radius: 3px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   display: grid;
   margin-top: 4rem;
   padding: 0 2.2rem 3rem;
   transition: all .3s;
   &:hover { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }

   &__icon {
      background-color: $primary-color;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      border-radius: 2rem;
      color: $color-black-light;
      font-size: 5rem;
      justify-self: center;
      height: 10rem;
      width: 10rem;

      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-50%);
   }

   &__heading {
      color: $color-black;
      font-weight: 500;
      font-size: 2.5rem;
      margin-bottom: 2rem;
      margin-top: -2rem;
      text-align: center;
   }

   &__text {
      font-size: 1.6rem;
      line-height: 1.7;
      display: flex;
      align-items: center;
   }
}