// Feature box
.feature-box {
    background-color: rgba($color-white, .8);
    text-align: center;
    padding: 4rem 2rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .3s;

    // height: 29rem;

    @include respond(tablet-portrait) {
        margin-bottom: 3rem;
    }

    &:hover {
        transform: translateY(-1.6rem);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .20);
    }

    // Feature Icon
    &__icon {
        color: $primary-color-light;
        text-shadow: 0px 5px 10px #aaa;
        font-size: 6rem;
        padding: 3.8rem 0;
    }

    // Feature text
    &__text {
        font-size: 1.6rem;
        font-weight: 100;
    }

    // Feature Button
    &__btn {

        @include respond(tablet-portrait) {
            margin-bottom: 5rem;
        }
        
        @include respond(older-phone) {
            margin-bottom: 1rem;
        }    
    }
}