.skills-box {
    @include addFixedWidth;
    @include addContainer(#fff);

    &__row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2.5rem 0;
        text-align: center;

        @include respond(phone) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include respond(smaller-phone) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__container {
        padding: 1.2rem 0;
    }

    &__icon {
        color: #fff;
        display: block;
        font-size: 12rem;
        text-shadow: 0px 1.8px 1.8px rgb(0, 0, 0);
    }
}