section { padding: 6rem 0; }
.expertise-section { background-color: $color-white; }
.skills-section { background-color: $primary-color; }
.project-section { background-color: #f4f4f4; }
.contact-section { background-color: $primary-color; }

.about-section {
   background-image: linear-gradient(to bottom,
         rgba($color-black, .7),
         rgba($color-black, .9)),
      url(../img/osa.jpg);
   background-attachment: fixed;
   background-size: cover;

   @include respond(tablet-portrait) {
      background-attachment: scroll;
   }
}